body {
	background: #1c1c1c;
    margin: 0px;
    padding: 0px;
    height:100%;
    
} 

#background {
    background-image: url('../Images/backgroundtemp.jpg');
    background-attachment: fixed;
    background-size: 100%;
    margin: 0px;
    padding: 0px;
    height:100%;
}

.wrapper {
 /* background: rgb(0,0,255); */
 width: 900px;
 min-height: 100%;
 height: auto !important;
 height: 100%;
 margin: 0 auto -5.5em;
 
 
}

.header {
 margin: 0;
 padding: 0 1em;
 background: rgba(0,0,0,0.5);
 height: 5.5em;
 list-style: none;
}

.footer {
 margin-top: 828px;
 background: rgba(0,0,0,0.5);
 height: 5.5em;
 list-style: none;
}

.footer p {
 position: absolute;
 padding-top: 20px;
 padding-left: 15px;
 text-align: center;
 font-family: 'Raleway', sans-serif;
 text-decoration: none;
 color: #b8b8b8;
 font-size: .75em;
}

#narrow {
	display: none;
}

.aboutus {
	margin-top: 30px;
}

.aboutus h2 {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #fff;
}

.aboutus p {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: .8em;
    margin-right: 260px;
    position: absolute;
    width: 900px;
}

.ourstaff {
	margin-top: 185px;
}

.ourstaff h2 {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #fff;
}

.ourstaff p {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: .75em;
    position: absolute;
    width: 900px;
}

hr {
   margin-top: -8px;
   border: 2px solid #c3a738;
   width: 75px;
   margin-left: 0px;
}

