.hi-icon-wrap {
	z-index: 1;
	text-align: center;
	vertical-align: text-bottom;
	margin: 0 auto;
	padding: 0.8em 0.1em 0.1em;
    
    position: relative;
}

.hi-icon {
	display: inline-block;
	vertical-align:middle;
	cursor: auto;
	margin: 25px 25px 40px;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
	/* border-color: #c3a738; */
	/* border-color: rgba(117, 117, 117, .4); */
	background-color: rgba(0, 0, 0, .4);
	/* border-style: solid;
	border-width: 4px; */
	font-family: 'Raleway', sans-serif;
    /* overflow: hidden; */
}

/****************/
.foundations{
	background-image: url('../Images/foundations.png');
	background-size: 65px;
	background-repeat: no-repeat;
	background-position: center 28%;
	padding-top:48px;
	z-index: 1;
}
/*.foundations:hover{
	background-image: url('slabogY.png');
	background-size: 60px;
	background-repeat: no-repeat;
	background-position: center 22%;
	padding-top:19px;
} */
.hi-icon p{
	padding-top:100px;
	
}
/****************/
.retainingwalls{
	background-image: url('../Images/retainingwalls.png');
	background-size: 65px;
	background-repeat: no-repeat;
	background-position: center 27%;
	padding-top:48px;
	z-index: 1;
}
.retainingwalls p{
	padding-top:70px;
}
/****************/
.curbgutter{
	background-image: url('../Images/curbgutter.png');
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center 33%;
	padding-top:48px;
	z-index: 1;
}
.curbgutter p{
	padding-top:70px;
}
/****************/
.elevatedslab{
	background-image: url('../Images/elevatedslab.png');
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center 39%;
	padding-top:48px;
	z-index: 1;
}
.elevatedslab p{
	padding-top:70px;
}
/****************/
.slabog{
	background-image: url('../Images/slabongrade.png');
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center 39%;
	padding-top:48px;
	z-index: 1;
}
.slabog p{
	padding-top:70px;
}
/****************/
.parkingdecks{
	background-image: url('../Images/parkingdecksC.png');
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center 34%;
	padding-top:48px;
	z-index: 1;
}
.parkingdecks p{
	padding-top:70px;
}

/****************/
.posttension{
	background-image: url('../Images/posttension.png');
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center 37%;
	padding-top:48px;
	z-index: 1;
}
.posttension p{
	padding-top:70px;
}/****************/
.sidewalks{
	background-image: url('../Images/sidewalks.png');
	background-size: 75px;
	background-repeat: no-repeat;
	background-position: center 32%;
	padding-top:48px;
	z-index: 1;
}
.sidewalks p{
	padding-top:70px;
}
/****************/
.detentionponds{
	background-image: url('../Images/detentionponds.png');
	background-size: 75px;
	background-repeat: no-repeat;
	background-position: center 32%;
	padding-top:48px;
	z-index: 1;
}
.detentionponds p{
	padding-top:70px;
}/****************/
.headwalls{
	background-image: url('../Images/headwalls.png');
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center 30%;
	padding-top:48px;
	z-index: 1;
}
.headwalls p{
	padding-top:70px;
}